.button {
    border-width: 2px;
    border-style: solid;
    color: #ffffff;
    line-height: 2rem;
    font-size: 1.2rem;
    letter-spacing: 1.1px;
    font-weight: 600;
    text-align: center;
    padding: 0 1.5rem;
    transition: background-color 120ms linear;

    &--s {
        padding-bottom: 0.3rem;
        padding-top: 0.3rem;
    }

    &--m {
        padding-bottom: 0.5rem;
        padding-top: 0.5rem;
    }

    &--primary {
        background-color: rgba(#4b0082, 0.7);
        border-color: #4b0082;

        &:hover {
            background-color: #4b0082;
        }
    }

    &--rounded {
        border-radius: 2rem;
    }

    &--rounded-left {
        border-bottom-left-radius: 2rem;
        border-top-left-radius: 2rem;
    }

    &--rounded-right {
        border-bottom-right-radius: 2rem;
        border-top-right-radius: 2rem;
    }

    &--none {
        border-radius: none;
    }

    &--success {
        background-color: rgba(#019911, 0.7);
        border-color: #019911;

        &:hover {
            background-color: #019911;
        }
    }

    &--warning {
        background-color: rgba(#f7a000, 0.7);
        border-color: #f7a100;

        &:hover {
            background-color: #f7a000;
        }
    }

    &--danger {
        background-color: rgba(#e41a21, 0.7);
        border-color: #e41a21;

        &:hover {
            background-color: #e41a21;
        }
    }
}
