.button{
    color: white;
    line-height: 2rem;
    letter-spacing: 1.1px;
    font-weight: 100;
    text-align: center;
    padding: 0 1.5rem;

    &--s {
        padding-bottom: 0.5rem;
        padding-top: 0.5rem;
    }

    &--m {
        padding-bottom: 1rem;
        padding-top: 1rem;
    }

    &--primary {
        background-color: indigo;
    }
}