.productCard {
    display: flex;
    flex-direction: column;

    &--head{
        display: flex;
    }

    &--body{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}